// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#nav
{    
    height: 64px;    
    
    padding-right :20px;
    position: relative;
    width: 979px;
    margin-left :100px;
    background-color :pink;
}
#nav li 
{
    float: left;
    height: 30px;
    padding-left: 10px;
    width: auto;
    list-style: none outside none;
    margin-left :50px;
    font-size :20px;
}
 